body {
  background: #ecb8ca;;
}
.container {
  max-width: 400px;
}
.search i {
  position: absolute;
}
.search {
  position: relative;
}
.icon {
  padding: 10px;
  left: 0;
}
.input-field {
  text-align: center;
}

input[type="text"],
input[type="text"]:focus {
  color: #13140f;
  border: none;
  background: rgba(0, 0, 0, 0.3);
  max-width: 400px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.todos li {
  background: #6356ad;
}
.delete {
  cursor: pointer;
}


.filtered{
  display: none !important;
}






